
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f3f8f2;
  color: #333;
}

.signin-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #bdbdbd);
}

.signin-container {
  background: white;
  padding: 6rem 8rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size:3rem;
}

.signin-container input {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 1.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size:2rem;
}

.signin-container button {
  background: black;
  color: white;
  padding: 1.8rem 4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size:2rem;
}

.loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 1s ease;
}
.typing-effect {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  white-space: nowrap;
  border-right: 2px solid black;
  width: 0;
  overflow: hidden;
  animation: typing 3s steps(40, end) forwards, blink 0.7s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent; }
}
.loader-cross {
  width: 80px;
  height: 80px;
  border: 6px solid black;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
  .signin-container {
  padding: 2rem 4rem;
  border-radius: 10px;
  font-size:1.5rem;
  }
 .signin-container input {
  margin: 1rem 0;
  padding: 0.75rem;
   font-size:1rem;
  }
  
  .typing-effect {
  font-size: 1.5rem;
  }
  .loader-cross {
  width: 40px;
  height: 40px;
  }
  .signin-container button {
  padding: 0.75rem 2rem;
    font-size:1rem;
  }
  
}
